.wrap-box {
  margin-bottom: 40px;
  .title {
    color: black;
    font-size: 25px;
  }

  .content {
    color: gray;
  }
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.navy {
  background-color: navy;
}

.purple {
  background-color: purple;
}
