.wrap {
  width: 100%;
  padding-top: 50px;
}

.box {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  flex-wrap: wrap; /* 화면이 줄어들 경우 줄 바꿈 */
}

.top {
  display: flex;
  margin-bottom: 50px;
  gap: 20px;
}

.bottom {
  height: 500px;
  width: 1280px;
  background-color: #00891a;
}

.left {
  width: 40%;
  min-width: 600px;
  height: 700px;
}

.foundationImgs {
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
  gap: 10px;
}

.right {
  width: 60%;
  min-width: 600px;
}

.rate {
  display: flex;
  gap: 10px;
}

.review {
  color: blue;
}

.priceBox {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.price {
  font-size: 25px;
  font-weight: bolder;
}

.deliver {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.guarantee {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.arrive {
  color: #00891a;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.countButton {
  display: flex;
  border: 0.5px solid rgb(165, 164, 164);
  width: 100px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.number {
  text-align: center;
  flex: 1;
  font-size: 16px;
}

.numberButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn {
  width: 20px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.cart {
  width: 180px;
  height: 50px;
  border: 1px solid blue;
  background: white;
  color: blue;
  font-size: 16px;
  font-weight: bold;
}

.purchase {
  width: 180px;
  height: 50px;
  background: blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.card {
  display: flex;
  gap: 10px;
}
.card > img {
  display: block;
  width: 20px;
  height: auto;
  margin-right: 1px;
}

.earn {
  display: flex;
  gap: 10px;
}
.underbar {
  border-bottom: solid black 0.5px;
}
